<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393444938036-0qj7mdfh5arouo34ufguie22erah0ekp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393444938036-0qj7mdfh5arouo34ufguie22erah0ekp</string>
	<key>API_KEY</key>
	<string>AIzaSyAB5Dt3YKXz4rLdhN4vI8pWQjAXSdIvpiY</string>
	<key>GCM_SENDER_ID</key>
	<string>393444938036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalshProject</string>
	<key>PROJECT_ID</key>
	<string>finalshproject</string>
	<key>STORAGE_BUCKET</key>
	<string>finalshproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393444938036:ios:0a5584a878ee26843bd561</string>
</dict>
</plist>